/* Imported Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@500&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* Fonts */

.lora {
    font-family:'Lora', Helvetica, sans-serif;
}
.playfair-display {
    font-family:'Playfair-Display', Helvetica, sans-serif;
}
.montserrat {
    font-family:'Montserrat', Helvetica, sans-serif;
}
.Parisienne {
    font-family:'Parisienne', cursive;
    font-weight:500;
}
.weight-700 {
    font-weight: 700;
}
.font-size-20 {
    font-size:20px;
}
h5 a {
    color: inherit;
}
/* colours */

.off-white {
    background-color: #f7f7f7;
}
.blue {
   background-color:#77A6F7;
}
.light-blue {
    background-color: #d3e3fc;
}
.beige{
    background-color: #A4B3B6;
}
.white {
    background-color: #ffffff;
}
.decoration-none {
    color:black;
}
/* margins */

.mr-10 {
    margin-left:10px;
}
.mt-225 {
    margin-top:225px;
}
.pb-30 {
    padding-bottom:30px;
}
.padding-nav {
    padding-top:25px;
    padding-bottom:15px;
}
.top-nav-margin {
    margin-bottom:0px;
    margin-top:0px;
}
.mt-15 {
    margin-top:15px;
}
.mt-35 {
    margin-top:35px;
}
.mb-100 {
    margin-bottom:100px;
}
.ml-25 {
    margin-left:25px;
}
.pt-20 {
    padding-top:20px;
}

.pr-34 {
    padding-right:34px;
}

.pb-25 {
    padding-bottom:25px;
}

.pr-30 {
    padding-right:30px;
}
.welcome-margins {
    margin:0px 0px 125px 0px;
}

/** Index page **/

.border-style {

    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
}
.font-weight-600 {
    font-weight:600;
}
/* navbar */

nav {
    line-height:normal;
}
nav .brand-logo {
    font-size:50px;
}
.navbar-link:active {
    text-decoration: underline;
}
.brand-logo {
    margin-left:30px;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.flashes h4 {
    line-height: 2;
}
nav.nav-center ul {
    text-align:center; 
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
nav ul a {
    padding-right:10px;
    font-size: 12px;
}

nav ul a:hover {
    background-color:#77A6F7;
    
}
.btn-small {
    margin: 5px;
}
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
/* Taken from freefrontend.com */
.form {
    position: relative;
    display:flex;
    justify-content: center;
    align-items:center;
}
.input-index {
    width: 350px;
    height:50px;
    padding: 10px;
    padding-left: 100px;
    border-radius: 10px;
    border: none;
    color:black;
    font-size: 24px;
    font-family: "Dosis", sans-serif;
    outline:none;
}
.ico {
    position:absolute;
    top: 10px;
    font-size: 24px;
    color:#77a6fc;
}
.blink {
    transform: rotate(90deg);
    animation: outFocus 1s infinite ease-in-out;
}
.search {
    transition: 1s;
    animation: onFocus 1s 1 ease-in-out;
}
@keyframes outFocus {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}
@keyframes onFocus {
    to {
        transform: rotateY(0deg);
    }
    from {
        transform: rotateY(90deg);
    }
}

/* View Widths */

@media only screen and (max-width: 996px) {
  .brand-logo {
      text-align:center;
      margin-left:0px;
  }
}
@media only screen and (max-width: 463px) {
  nav .brand-logo{
      font-size:26px;
  }
}
