/* Imported Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@300&family=Playfair+Display&display=swap');




/* Fonts */

.lora {
    font-family:'Lora', Helvetica, sans-serif;
}
.playfair-display {
    font-family:'Playfair-Display', Helvetica, sans-serif;
}
.montserrat {
    font-family:'Montserrat', Helvetica, sans-serif;
}

/* colours */

.rose {
    background-color: #d83f87;
}

.dark-purple {
    background-color: #2A1B3D;
}
.beige{
    background-color: #A4B3B6;
}

/* margins */
.mr-nav {
    margin-right:20px;
}
.mt-word-of-day {
    margin-top:50px;

}
/* navbar */


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}


.btn-small {
    margin: 5px;
}



.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}


/* viewwidths */

/*
@media only screen and (max-width:1225px) {
nav ul a {
    font-size: 11px;
}
}
@media only screen and (max-width:1380px) {
nav ul a {
    padding:0 8px;
}
}
