{% extends "base.html" %}
{% block content %}
<h3 class="center-align playfair-display">Register</h3>
<div class="row">
   <form class="col s12 m8 offset-m2" method="POST" action="{{url_for('register') }}">
      <!-- posts form date to the register function in the app.py file-->
      <div class="card-panel">
         <div class="row">
            <div class="input-field col s12">
               <i class="fas fa-user-plus prefix light-blue-text"></i>
               <input id="name" name="name" pattern="^[a-zA-Z0-9{8,30}" type="text" minlength="2"  maxlength="30" class="validate" data-length="100" required>
               <label for="name">Name</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <i class="fas fa-users prefix light-blue-text"></i>
               <input id="username" name="username" pattern="^[a-zA-Z0-9{8,30}" type="text" minlength="2" maxlength="30" class="validate" data-length="25" required>
               <label for="username">User Name</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <i class="far fa-envelope-open prefix light-blue-text"></i>
               <input id="email" name="email" pattern="^[a-zA-Z0-9{8,30}" type="email" minlength="3" class="validate" data-length="75" required>
               <label for="email">Email Address</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <i class="fas fa-globe-europe prefix light-blue-text"></i>
               <select id="location" name="location">
                  <option value="" disabled selected>Choose your Contintent</option>
                  <option value="Europe">Europe</option>
                  <option value="North America">North America</option>
                  <option value="South America">South America</option>
                  <option value="Asia">Asia</option>
                  <option value="Africa">Africa</option>
                  <option value="Indonesia">Indonesia</option>
               </select>
               <label>Contintent of Residence</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <i class="fas fa-user-lock prefix light-blue-text"></i>
               <input id="password" name="password" pattern="^[a-zA-Z0-9{8,30}" type="password" minlength="5" maxlength="30" class="validate" data-length="100" required>
               <label for="password">Password</label>
            </div>
         </div>
         <div class="row">
            <div class="input-field col s12">
               <i class="fas fa-user-lock prefix light-blue-text"></i>
               <input id="passwordConfirm" name="passwordConfirm" pattern="^[a-zA-Z0-9{8,30}" type="password" minlength="5" maxlength="30" class="validate" data-length="100" required>
               <label for="passwordConfirm" data-error="Password not match" data-success="Password Match">Confirm Password</label>
            </div>
         </div>
         <!-- added an extra password field for defensive design, it would be bad if an user entered their desired password with a typo and then cant login in the future,-->
         <div class="row">
            <button type="submit" class="col s12 btn-large light-blue">Register <i class="fas fa-sign-in-alt"></i></button>
         </div>
      </div>
   </form>
</div>
<div class="row">
   <div class="col s12">
      <p class="center-align">
         Already have an account?
         <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Log In</a>
      </p>
   </div>
</div>
{% endblock %}
COPY TO CLIPBOARD	 SELECT ALL
© FreeFormatter.com - FREEFORMATTER is a d/b/a of 10174785 Canada Inc. - Copyright Notice - Privacy Statement - Terms of Use