{% extends "base.html" %}
{% block content %}

  <h3 class="playfair-display center-align">Edit Word</h3>
<div class="row card-panel grey lighten-5">
   <form class="col s12" method="POST" action="{{ url_for('update_word', word_id=word._id) }}">
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
            <select id="category_name" name="category_name" class="validate" required >
               <option value="" disabled>Choose Word Category</option>
               {% for category in word_type %}
               {% if category.category_name ==word.category_name %}
               <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
               {% else %}
               <option value="{{ category.category_name }}">{{ category.category_name }}</option>
               {% endif %}
               {% endfor %}
            </select>
            <label>Word Category*</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input id="word_name" name="word_name" minlength="2" maxlength="50"
               value="{{ word.word_name }}" type="text" class="validate" required>
            <label for="word_name">Word Name*</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <textarea id="word_definition" name="word_definition" minlength="5" maxlength="300"  data-length="300"
                type="text" class="validate materialize-textarea" required>{{ word.word_definition }}</textarea>
            <label for="word_definition">Word Definition*</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <textarea id="word_in_sentence" name="word_in_sentence" minlength="5" maxlength="600"
               type="text" class="validate materialize-textarea">{{ word.word_in_sentence }}</textarea>
            <label for="word_in_sentence">Word Used in Sentence</label>
         </div>
      </div>
      <div class="row">
         <div class="input-field col s12">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input id="tags" name="tags" minlength="1" maxlength="20"
               value="{{ word.tags }}" type="text" class="validate">
            <label for="tags">Tags</label>
         </div>
      </div>
      <div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-comment-slash prefix light-blue-text text-darken-4"></i>
						<label for="created_by">
                            <input type="checkbox" id="created_by" name="created_by">
                            <span class="lever"></span>
                            Post Word anonymously
                        </label>
					</div>
				</div>
                </div>
      <div class="row">
         <div class="col s12 center-align">
            <a href="{{ url_for( 'home') }}" class="btn-large red text-shadow">
            Cancel <i class="fas fa-times-circle right"></i>
            </a>
            <button type="submit" class="btn-large light-blue">
            Edit Word <i class="fas fa-plus-square right"></i>
            </button>
         </div>
      </div>
   </form>
   <div class="row">
   <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
        <p>Note: By posting anonymously, you will not be able to edit the word or claim any ownership on it.</p>
        </div>
</div>

{% endblock %}
